{% extends 'global_base.html' %}
{% load static %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock css_link %}

{% block title %}
    Register new account!
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Register new account</h1>
        <div class="card">
            <form action="{% url 'accounts:register' %}" method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock content %}